@model DeanerySystem.UI.Models.Education.Schedule.LessonModel

<a class="lesson-link" href='@Url.Action("JournalLink", "Education", new { educationalPlanId = @Model.PlanId, classId = @Model.ClassId })'>
	<div class="lesson-content">
		<span>@Model.Subject</span>
		<br/>
		<span>@Model.Lector</span>
		<br/>
		<span>@Model.Type</span>
	</div>
</a>
