@model DeanerySystem.UI.Models.Education.Schedule.ScheduleInfo

@{
	ViewBag.Title = "Schedule";
}

<title>Schedule</title>

<h3 class="page-title">
	Розклад <small>Виберіть журнал</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href=@Url.Action("Index", "Home")>Головна</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Розклад</a>
		</li>
	</ul>
</div>

<div class="table-scrollable">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="text-align: center;">День</th>
				<th style="text-align: center;">Пара</th>
				@foreach (var groupName in @Model.GroupNames.Values) {
					<th style="text-align: center;">
						<span>@groupName</span>
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var day in @Model.DayInfos.Values) {
				bool dayFirstLoop = true;
				foreach (var lessonNumber in @day.LessonNumberInfos.Values) {
					<tr style="text-align: center;">
						@if (@dayFirstLoop) {
							dayFirstLoop = false;
							<td rowspan="@day.DayRowSpan">@day.Day</td>
						}

						<td rowspan="2">
							<span>@lessonNumber.Number</span><br/>
							<span>@lessonNumber.Start.ToString(@"hh\:mm") - @lessonNumber.End.ToString(@"hh\:mm")</span>
						</td>

						@foreach (var groupId in @Model.GroupNames.Keys) {
							if (lessonNumber.LessonGroupInfos.ContainsKey(groupId)) {
								if (lessonNumber.LessonGroupInfos[groupId].FirstRowLesson != null) { 
									if (lessonNumber.LessonGroupInfos[groupId].IsSolid) {
										<td rowspan="2" class="lesson-cell">
											@{ Html.RenderPartial("Schedule/_LessonCell", lessonNumber.LessonGroupInfos[groupId].FirstRowLesson); }
										</td>
									} else {
										<td class="lesson-cell">
											@{ Html.RenderPartial("Schedule/_LessonCell", lessonNumber.LessonGroupInfos[groupId].FirstRowLesson); }
										</td>
									}
								} else {
									@:<td />
								}
							} else {
								@:<td rowspan="2" />
							}
						}
					</tr>
					<tr style="text-align: center;">
						@foreach (var groupId in @Model.GroupNames.Keys) {
							if (lessonNumber.LessonGroupInfos.ContainsKey(groupId)) {
								if (lessonNumber.LessonGroupInfos[groupId].SecondRowLesson != null) {
									<td class="lesson-cell">
										@{ Html.RenderPartial("Schedule/_LessonCell", lessonNumber.LessonGroupInfos[groupId].SecondRowLesson); }
									</td>
								} else if (!lessonNumber.LessonGroupInfos[groupId].IsSolid) {
									@:<td />
								}
							} 
						}
					</tr>
				}
			}
		</tbody>
	</table>
</div>
