@model DeanerySystem.UI.Models.Education.Schedule.ScheduleModel

@{
	ViewBag.Title = "Schedule";
}

<title>Schedule</title>

<h3 class="page-title">
	Розклад <small>Виберіть журнал</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href=@Url.Action("Index", "Home")>Головна</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Розклад</a>
		</li>
	</ul>
</div>

<div class="table-scrollable">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="text-align: center;">День</th>
				<th style="text-align: center;">Пара</th>
				@foreach (var group in @Model.Groups) {
					<th style="text-align: center;">
						<span>@group.Name</span>
					</th>
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var day in @Model.Days) {
				bool dayFirstLoop = true;
				foreach (var lessonNumber in @day.LessonNumbers) {
					<tr style="text-align: center;">
						@if (@dayFirstLoop) {
							dayFirstLoop = false;
							<td rowspan="@day.DayRowSpan">@day.Name</td>
						}

						<td rowspan="2">
							<span>@lessonNumber.Number</span><br/>
							<span>@lessonNumber.Start - @lessonNumber.End</span>
						</td>

						@foreach (var group in @Model.Groups) {
							if (lessonNumber.LessonGroups.Exists(lg => lg.GroupId == group.Id)) {
								var lessonGroupModel = lessonNumber.LessonGroups.Single(lg => lg.GroupId == group.Id);
								if (lessonGroupModel.FirstRowLesson != null) {
									if (lessonGroupModel.IsSolid) {
										<td rowspan="2" class="lesson-cell">
											@{ Html.RenderPartial("Schedule/_LessonCell", lessonGroupModel.FirstRowLesson); }
										</td>
									} else {
										<td class="lesson-cell">
											@{ Html.RenderPartial("Schedule/_LessonCell", lessonGroupModel.FirstRowLesson); }
										</td>
									}
								} else {
									@:<td />
								}
							} else {
								@:<td rowspan="2" />
							}
						}
					</tr>
					<tr style="text-align: center;">
						@foreach (var group in @Model.Groups) {
							if (lessonNumber.LessonGroups.Exists(lg => lg.GroupId == group.Id)) {
								var lessonGroupModel = lessonNumber.LessonGroups.Single(lg => lg.GroupId == group.Id);
								if (lessonGroupModel.SecondRowLesson != null) {
									<td class="lesson-cell">
										@{ Html.RenderPartial("Schedule/_LessonCell", lessonGroupModel.SecondRowLesson); }
									</td>
								} else if (!lessonGroupModel.IsSolid) {
									@:<td />
								}
							} 
						}
					</tr>
				}
			}
		</tbody>
	</table>
</div>
