@using DeanerySystem.Domain.Entities
@model IEnumerable<Cellule>

@{
    ViewBag.Title = "Journal";
}


<div class="container">
    <h2>Journal</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Mark</th>
                <th>Date</th>
                <th>StudentFirstName</th>
                <th>SubjectName</th>
                <th>ProfessorFirstName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cellule in Model)
            {
                <tr>
                    <td>@cellule.Id</td>
                    <td>@cellule.Mark</td>
                    <td>@cellule.Date.ToShortDateString()</td>
                    <td>@cellule.Student.FirstName</td>
                    <td>@cellule.Journal.Subject.Name</td>
                    <td>@cellule.Journal.Professor.FirstName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
