@using DeanerySystem.Domain.Entities
@using DeanerySystem.Domain.Entities.Enums
@using DeanerySystem.UI.Models.Education
@model DeanerySystem.UI.Models.Education.ScheduleInfo

@{
	ViewBag.Title = "Schedule";
}

<title>Schedule</title>

<h3 class="page-title">
	Розклад <small>Виберіть журнал</small>
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href=@Url.Action("Index", "Home")>Головна</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#">Розклад</a>
		</li>
	</ul>
</div>

<div class="table-scrollable">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th style="text-align: center;">День</th>
				<th style="text-align: center;">Пара</th>
				@foreach (var group in @Model.Groups) {
					<th style="text-align: center;">
						<span>@group.Name</span>
					</th>
				}
			</tr>
		</thead>
		<tbody>


			@foreach (var day in @Model.Times.Keys.Where(t => t != null)) { 
				bool dayFirstLoop = true;
				if (@Model.Times[day] != null) {
					foreach (var time in @Model.Times[day].Where(t => t != null)) {
						<tr style="text-align: center;">
							@if (@dayFirstLoop) {
								dayFirstLoop = false;
								int span = @Model.Times[day].Count(t => t != null)*2;
								<td rowspan="@span">@Model.DayNames[day]</td>
							}

							<td rowspan="2">
								<span>@time.Number</span><br/>
								<span>@time.Start.ToString(@"hh\:mm") - @time.End.ToString(@"hh\:mm")</span>
							</td>

							@foreach (var group in @Model.Groups) {
								var key = new Tuple<ClassNumberTime, Group>(time, group);
								if (Model.NumeratorDenomerators.ContainsKey(key)) {
									NumeratorDenomerator numeratorDenomerator = @Model.NumeratorDenomerators[key];
									Html.RenderPartial("_NumeratorDenominator", numeratorDenomerator);
								} else {
									<td rowspan="2"/>
								}
							}
						</tr>
						<tr style="text-align: center;">
							@foreach (var group in @Model.Groups) {
								var key = new Tuple<ClassNumberTime, Group>(time, group);
								if (Model.NumeratorDenomerators.ContainsKey(key)) {
									NumeratorDenomerator numeratorDenomerator = @Model.NumeratorDenomerators[key];
									Html.RenderPartial("_Denominator", numeratorDenomerator);
								}
							}
						</tr>

					}
				}
			}
		</tbody>
	</table>
</div>
