@using System.Activities.Statements
@using DeanerySystem.Domain.Entities
@using DeanerySystem.Domain.Entities.Enums
@model IEnumerable<Subject>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2 class="custom-title">Виберіть журнал</h2>
        <div class="row" style="margin: 5px 8px;">
            <div class="col-md-4">
                <label>Дисципліна : </label>
            </div>
            <div class="col-md-4">
                <label>Викладач : </label>
            </div>
            <div class="col-md-4">
                <label>Група : </label>
            </div>
        </div>
    @foreach (var subject in @Model)
    {
        foreach (var journal in subject.Journals)
        {
            if (subject.SemesterEducationalPlan.Group.Name != "ПМІ-32")
            {
                <a href='@Url.Action("Journal", "Journal", new {subjectId = @subject.Id, journalId = @journal.Id, actualJournalTypeId = @journal.JournalsForMarking.First(j => j.JournalType == JournalTypes.Assessment).Id})'>
                    <div class="row grid-item grey-border">
                        <div class="col-md-4">
                            @subject.Name
                        </div>
                        <div class="col-md-4">
                            @journal.Professor.LastName @journal.Professor.FirstName @journal.Professor.MiddleName
                        </div>
                        <div class="col-md-4">
                            @subject.SemesterEducationalPlan.Group.Name
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href='@Url.Action("Journal", "Journal", new {subjectId = @subject.Id, journalId = @journal.Id, actualJournalTypeId = @journal.JournalsForMarking.First(j => j.JournalType == JournalTypes.Assessment).Id})'>
                    <div class="row grid-item colored-border">
                        <div class="col-md-4">
                            @subject.Name
                        </div>
                        <div class="col-md-4">
                            @journal.Professor.LastName @journal.Professor.FirstName @journal.Professor.MiddleName
                        </div>
                        <div class="col-md-4">
                            @subject.SemesterEducationalPlan.Group.Name
                        </div>
                    </div>
                </a>
            }

        }
    }
</div>