@using System.Web.Optimization
@using DeanerySystem.WebUI.Models
@model DeanerySystem.WebUI.Models.JournalInfo

@{
    ViewBag.Title = "Journal";
}
@Scripts.Render("~/bundles/bootstrap")
@section JavaScript
{
   
    <script type="text/javascript" src="/Scripts/java-script.js"></script>
}

<div class="container">
    <div class="row">
        <h2 style="text-align: center;">Журнал</h2>

        <p class="col-md-12 text-center">
            <label>Предмет</label> : @Model.SubjectName
        </p>
        <div class="row">
            <p class="col-md-offset-2 col-md-4">
                <label>Викладач</label> : @Model.LecturerLastName @Model.LecturerFirstName @Model.LecturerMiddleName
            </p>
            <p class="col-md-offset-1 col-md-5">
                <label>Група</label> : @Model.GroupName
            </p>
        </div>
        <div class="row">
            <p class="col-md-offset-2 col-md-4">
                <label>Тип пари</label> : @Model.ClassType
            </p>

            <p class="col-md-offset-1 col-md-5 form-inline">
                <label>Режим журналу</label> :
                @Html.DropDownListFor(model => model.ActualJournalTypeId, new SelectList(
                    new List<Object>
                    {
                        new {value = Model.AssessmentJournalId, text = "Оцінювання"},
                        new {value = Model.VisitingJournalId, text = "Відвідування"}
                    },
                    "value",
                    "text", 2), new { @id = "JournalTypeSelection", @class = "form-control dropdown" })
            </p>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("SaveMarkings", "Journal", FormMethod.Post, new {@id = "submit-mark-form"}))
        {
            <div style="overflow-x: scroll;">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>Прізвище Ім'я По-батькові</th>
                        @foreach (var date in @Model.Date)
                        {
                            <th>
                                <span>@date.Day/@date.Month @date.Hour:@date.Minute</span>
                            </th>
                        }
                    </tr>
                    @foreach (var jornalRecorl in @Model.JournalRecords)
                    {
                        <tr>
                            <td>
                                <p>@jornalRecorl.Number</p>
                            </td>
                            <td>
                                <p style="width: 250px;">@jornalRecorl.StudentLastName @jornalRecorl.StudentFirstName @jornalRecorl.StudentMiddleName</p>
                            </td>
                            @foreach (var mark in jornalRecorl.Marks)
                            {
                                <td>
                                    @Html.TextBoxFor(x => mark, new {@class = "form-control", style = "border: 0px; width: 40px; "})
                                    @*<input class="form-control" style="border: 0px; width: 40px;" value="@mark"/>*@
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Зберегти зміни" class="btn btn-default form-control" id="save-marks-button" data-subjectid=@Model.SubjectId data-journalid=@Model.JournalId data-journaltypeid=@Model.ActualJournalTypeId />
                </div>
                <div class="col-md-6">
                    <input value="Назад" class="btn btn-default form-control" id="back-button" data-url="@Url.Action("Index", "Journal")"/>
                </div>
            </div>
            <br /><br />
        }
    </div>
</div>

